@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-size: 50px;
    --right-sidebar-size: 60px;
    --board-column-size: 200px;
    --board-preview-size: 170px;
}

@layer components {
    .background-primary {
        @apply bg-primary-light dark:bg-primary-dark;
    }
}
